services:
  guacd:
    tty: true
    stdin_open: true
    image: guacamole/guacd
    restart: always
    network_mode: "host" # Allows for Wake-on-LAN support
    environment:
      MYSQL_DATABASE: "{{ mysql_database_name }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_user_password }}"
      MYSQL_HOSTNAME: "{{ ansible_default_ipv4.address }}"
  guacamole:
    tty: true
    stdin_open: true
    image: guacamole/guacamole
    restart: always
    ports:
      - {{ webui_port }}:8080
    environment:
      MYSQL_DATABASE: "{{ mysql_database_name }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_user_password }}"
      MYSQL_HOSTNAME: "{{ ansible_default_ipv4.address }}"
      GUACD_HOSTNAME: "{{ ansible_default_ipv4.address }}"
